.valor-flat-tree {
  font-size: 14px;
}

.valor-flat-tree-item {
  position: relative;
  height: 2em;
  line-height: 2em;
  color: #999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.valor-flat-tree-item:hover {
  background: #e6f7ff;
}

.valor-flat-tree-item-container {
  width: 20px;
  text-align: center;
  margin-right: 8px;
}
.valor-flat-tree-item-container:hover {
  cursor: pointer;
}

.valor-flat-tree-item-selected {
  color: #fff;
  background: #1ea7fd;
}

.valor-action-container {
  position: absolute;
  right: 10px;
  height: 100%;
  z-index: 10;
}
